<header class="w-full items-center bg-gray-800 py-4 px-6 hidden sm:flex">
    <div class="flex items-center gap-8">
<!--        <button routerLink="/dashboard" class=" text-white text-lg">Dashboard</button>-->
        <button routerLink="/user" class="text-white text-lg">User</button>
        <button routerLink="/insurance" class="text-white text-lg">Insurance</button>
        <button routerLink="/hospital" class="text-white text-lg">Hospital</button>
        <button routerLink="/fire" class="text-white text-lg">Fire Service</button>
        <button routerLink="/police" class="text-white text-lg">Police</button>
<!--        <button routerLink="/vehicle" class="text-white text-lg">Vehicle</button>-->
        <button routerLink="/incident" class="text-white text-lg">Incident</button>



    </div>
</header>