<div class="flex justify-center px-8  mt-10">
    <!-- Main Container -->
    <div class="bg-white rounded-lg shadow-lg p-8 w-full grid grid-cols-1 md:grid-cols-2 gap-6">

        <!-- User Table (Left Side) -->
        <div class="overflow-x-auto">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Police</h2>
            <table class="min-w-full border border-gray-300">
                <thead class="bg-gray-200">
                <tr>
                    <th class="py-2 px-4 border-b">severity </th>
                    <th class="py-2 px-4 border-b">location</th>
                    <th class="py-2 px-4 border-b">Time</th>
                    <th class="py-2 px-4 border-b">status</th>
                    <th class="py-2 px-4 border-b">device Status</th>
                    <th class="py-2 px-4 border-b">action</th>
                </tr>
                </thead>
                <tbody>

                    @for(accident of incidentDtos.slice(0,5);track accident){
                        <tr class="hover:bg-gray-100">
                            <td class="py-2 px-4 border-b">{{accident.serverity}}</td>
                            <td class="py-2 px-4 border-b">{{accident.location}}</td>
                            <td class="py-2 px-4 border-b">{{accident.incidentTime}}</td>
                            <td class="py-2 px-4 border-b">{{accident.incidentStatus}}</td>
                            <td class="py-2 px-4 border-b">{{accident.device.deviceStatus}}</td>
                            <td class="py-2 px-4 border-b">
                                <button (click)="get(accident.device.userId)" class="bg-blue-500 text-white py-1 px-2 rounded hover:bg-blue-600">Action</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div>
            <h2 class="text-2xl font-bold text-gray-800 mb-6">Edit Incident</h2>
            <form action="#" method="POST" class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div>
                    <label class="block text-gray-700 font-semibold" for="police">Province</label>
                    <select id="police" name="gender" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500">
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div>
                    <label class="block text-gray-700 font-semibold" for="hospital">Province</label>
                    <select id="hospital" name="gender" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500">
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div>
                    <label class="block text-gray-700 font-semibold" for="apple">Province</label>
                    <select id="apple" name="gender" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500">
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div>
                    <label class="block text-gray-700 font-semibold" for="orange">Province</label>
                    <select id="orange" name="gender" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500">
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div>
                    <label class="block text-gray-700 font-semibold" for="red">Province</label>
                    <select id="red" name="gender" class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500">
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>
